@font-face {
    font-family: 'TT Norms Pro';
    src: url("../hatchcredit.github.io/TTNormsProFamily/TTNormsProNormal.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url("../hatchcredit.github.io/TTNormsProFamily/TTNormsProRegular.otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url("../hatchcredit.github.io/TTNormsProFamily/TTNormsProDemiBold.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url("../hatchcredit.github.io/TTNormsProFamily/TTNormsProLight.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url("../hatchcredit.github.io/TTNormsProFamily/TTNormsProBold.otf");
    font-weight: 700;
    font-style: normal;
}

img {
  max-width: 100%;
  height:auto;
  display: block;
}

/*header shit*/

#header {
	width:100%;
	height:5em;
	position:fixed;
	top:0;
	left:0;
	background-color:white;
	z-index:10;
}

#mobile-header{
    display: none;
}

#getapp{
	position:relative;
	overflow: hidden;
	margin-right:2.5em;
	width:8.75em;
	padding-top:.23em;
	height:2.5em;
	vertical-align:center;
	text-align:center;
	top:1.15em;
	float:right;
	font-family: 'TT Norms Pro';
	font-weight:500;
	text-decoration:none;
	color:white;

	background: #907CFF;
	border-radius: 1em;
	text-align:center;
}

#getapp p{
	margin:0em;
	line-height: 2em;
}

#getappbutton{

	font-family: 'TT Norms Pro';
	font-size: 1.25em;
	font-style: normal;
	font-weight: 500;
	color:white;
	text-decoration:none;
	
}

.navbutton{
	width:auto;
	font-family: 'TT Norms Pro';
	font-size:1em;
	font-style: normal;
	font-weight: normal;
	position:relative;
	overflow: hidden;
	margin-right:3em;
	width:auto;
	height:auto;
	text-align:center;
	top:1em;
	float:right;
	text-decoration:none;
	color:black;
}

.navbutton a{
	text-decoration:none;
}

.navbutton a:link {
	color: black;
	text-decoration:none;
}

/* visited link */
.navbutton a:visited {
	color: black;
	text-decoration:none;
}

/* mouse over link */
.navbutton a:hover {
	color: black;
	text-decoration:none;
}

/* selected link */
.navbutton a:active {
	color: black;
	text-decoration:none;
}

#logo{
	width:5.5em;
	height:auto;
}

#logobutton{
	position:absolute;
	top:1.75em;
	left:4em;
}

#hamburger-menu{
    display:none;
}
/*actual main shit*/

#container{
	width:100%;
	margin-top:6em;
	background-color:white;

}

/*landing*/

#landing{
	height:50em;
	width:100%;
	background-image:url("aboutpics/aboutbackground.svg");
	background-position: 100% -6em;
	background-repeat: no-repeat;
	background-size: 70%;
	margin-bottom:-15em;

}

/*landing text*/

.landingtext{
	position:absolute;
	margin-top:3em;
	left:7.5em;
	width:45%;
	z-index:1;
}

#landingtitle{
	font-family: TT Norms Pro;
	font-size:2.5em;
	font-style: normal;
	font-weight: 600;
	line-height: 1.5em;
	float:left;
	width:90%;
}

#landingtitle p{
	margin-bottom:1rem;
}

#landingsubtitle{
	font-family: TT Norms Pro;
	font-size:1.5em;
	font-style: normal;
	font-weight: normal;
	line-height: 2em;
	float:none;
	width:90%;
}

#aboutlanding{
    width:35%;
    padding-right:8em;
    padding-top:3em;
    float:right;
    z-index:1;
    position:absolute;
    right:.5em;
}

#why{
    width:90%;
    height:25em;
    margin-left:auto;
    margin-right:auto;
    vertical-align: center;
    margin-top:2em;
    margin-bottom:5em;
}

#whypic{
    width:45%;
    margin-left:3%;
    margin-top:2em;
    height:auto;
    float:left;
    padding-right:2em;
    padding-bottom:4em;
}

.whytext{
    width:45%;
    float:left;
    margin-left:3%;
}

#whytitle{
    width:90%;
    font-family: 'TT Norms Pro';
    font-size:2em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25em;
}

#whysubtitle{
    width:90%;
    font-family: 'TT Norms Pro';
    font-size:1.25em;
    font-style: normal;
    font-weight: 300;
    line-height:1.5em;
}

#bigpicture{
    width:100%;
    height:50em;
    padding-top:3.5em;
    background-image:url("aboutpics/bigpicbackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#bigpicrow{
    width:90%;
    margin:0em auto 0em auto;
}

.bigpictext{
    width:45%;
    margin-left:5%;
    float:left;

}

#bigpictitle{
    font-family: 'TT Norms Pro';
    font-size:2.75em;
    font-style: normal;
    font-weight: 600;
    line-height: 1em;
    width:90%;
}

#bigpicsubtitle{
    font-family: 'TT Norms Pro';
    font-size:1.5em;
    font-style: normal;
    font-weight: 300;
    width:90%;
}

#bigpic{
    width:48%;
    margin-top:2em;
    margin-bottom:2.5em;
    height:auto;
    float:left;
}

#facts{
    display:flex;
    width:90%;
    margin:0em auto;
    justify-content: space-around;
}

.card{
    width:23%;
    box-shadow:0 .2em 2em .2em rgba(0, 0, 0, 0.1);
    border-radius: 1.25em;
    margin:2em 1%;
    background-color:white;
}

.cardtitle{
    font-family: 'TT Norms Pro';
    font-size:2em;
    font-style: normal;
    font-weight: 600;
    line-height: 1em;
    margin:0em auto 1.25em;
    width:80%;
}

.cardtext{
    font-family: 'TT Norms Pro';
    font-size:1.1em;
    font-style: normal;
    font-weight: 300;
    width:80%;
    margin:-1.5em auto 2em auto;
}


#team{
    width:90%;
    margin:6em auto 0em auto;
}

#teamtitle{
    font-family: 'TT Norms Pro';
    font-size:2.75em;
    font-style: normal;
    font-weight: 600;
    line-height: 1em;
    width:100%;
    text-align:center;
}

#teamprofiles{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    width:100%;
}

.profile{
    width:22%;
    text-align:center;   
}

.profilepic{
    width:80%;
    margin:1em auto 1em auto;

}

.profiletitle{
    width:100%;
    font-family: 'TT Norms Pro';
    font-size:1em;
    font-style: normal;
    font-weight: 600;
    line-height: 1em;
    margin:2em auto -.5em auto;
}

.profilesubtitle{
    width:100%;
    font-family: 'TT Norms Pro';
    font-size:1em;
    font-style: normal;
    font-weight: 300;
    line-height: 1em;
    margin:0em auto 1em auto;
}



#footer{
    width:100%;
    background-color:#907CFF;
    margin-top:9em;
}

#footercontainer{
    width:90%;
    display:flex;
    justify-content: space-around;
    background-color:#907CFF;
    margin:0em 5em;
}

.footercolumn{
    width:14%;
    margin:1em 0em 3em;
}

.footersection{
    font-family: 'TT Norms Pro';
    font-size:1.25em;
    font-style: normal;
    font-weight: 600;
    color:white;
    width:100%;
}

.footeroption{
    font-family: 'TT Norms Pro';
    font-size:1em;
    font-style: normal;
    font-weight: 400;
    color:white;
    width:100%;
    float:left;
    margin:-.5em 0em;
}

.footeroption a{
    text-decoration:none;
    color:white;

}

.footerpic{
    width:70%;
    height:auto;
    margin:0em 0em .5em;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 414px) {
    body{font-size:12px;}

    #landing{
        height:50em;
        width:100%;
        background-size: 0;
    }


    #mobile-logo{
        display: inline-block;
    }

    #mobile-logobutton{
        width: 30%;
        height: auto;
    }
    
    #hamburger-menu{
        position: fixed;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: white;
        z-index: 10;
        top: 10%;
    }

    a{
        margin-right: none;
    }

    #hamburger-image{
        width: 20%;
        height: 20%;
        margin-right: 0;
        margin-left: 3em;
    }

    #hamburger-icon{
        display: inline-block;
    }

    #container{
        margin-top: 16%;
    }

    .navbutton{
        background-color: white;
        height: 2em;
        width: 100%;
        border-top: thin solid #f0f0f0;
        border-bottom: thin solid #f0f0f0;
        margin: auto;
        line-height: 1em;
        display: table-column;
        padding-bottom:1em;
        font-family: TT Norms Pro;
        font-size:2em;
    }

    .navbutton{
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    #mobile-header{
        position: fixed;
        width: 100%;
        height: 10%;
        left: 0;
        top: 0;
        padding-left: 10%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        /* border-bottom: 0.5px solid grey; */
        background-color: white;
        z-index: 10;
    }

    #header{
        display: none;
    }
    
    /*landing text*/
    
    .landingtext{
        position:absolute;
        top:33em;
        left:3em;
        width:90%;
        z-index:1;
    }
    
    #landingtitle{
        font-family: TT Norms Pro;
        font-size:3em;
        font-style: normal;
        font-weight: 600;
        line-height: 1.15em;
        float:left;
        width:90%;
    }
    
    #landingtitle p{
        margin-bottom:1rem;
    }
    
    #landingsubtitle{
        font-family: TT Norms Pro;
        font-size:1.5em;
        font-style: normal;
        font-weight: normal;
        line-height: 1.25em;
        float:none;
        width:90%;
    }
    
    #aboutlanding{
        width:80%;
        position:absolute;
        padding-right:0em;
        left:3em;
        float:right;
        z-index:1;
    }
    
    #why{
        width:90%;
        height:50em;
        margin-left:auto;
        margin-right:auto;
        vertical-align: center;
        margin-top:20em;
        margin-bottom:4.5em;
    }
    
    #whypic{
        width:90%;
        margin-left:3%;
        margin-top:2em;
        height:auto;
        float:left;
        /* padding-right:2em;
        padding-bottom:4em; */
    }
    
    .whytext{
        width:90%;
        float:left;
        margin-left:3%;
    }
    
    #whytitle{
        width:100%;
        font-family: 'TT Norms Pro';
        font-size:2.5em;
        font-style: normal;
        font-weight: 600;
        line-height: 1.25em;
    }
    
    #whysubtitle{
        width:100%;
        font-family: 'TT Norms Pro';
        font-size:1.75em;
        font-style: normal;
        font-weight: 300;
        line-height:1.25em;
    }
    
    #bigpicture{
        width:90%;
        height:80em;
        padding-top:3.5em;
        background-size:0%;
    }
    
    #bigpicrow{
        width:90%;
        margin:0em auto 0em auto;
    }
    
    .bigpictext{
        width:100%;
        margin-left:5%;
        float:left;
    
    }
    
    #bigpictitle{
        font-family: 'TT Norms Pro';
        font-size:3em;
        font-style: normal;
        font-weight: 600;
        line-height: 1.25em;
        width:100%;
    }
    
    #bigpicsubtitle{
        font-family: 'TT Norms Pro';
        font-size:1.75em;
        line-height:1.25em;
        font-style: normal;
        font-weight: 300;
        width:100%;
    }
    
    #bigpic{
        width:100%;
        margin-top:2em;
        margin-bottom:2.5em;
        padding-left:1em;
        height:auto;
        float:left;
    }
    
    #facts{
        display:flex;
        width:90%;
        margin:0em auto;
        justify-content: space-around;
        flex-wrap:wrap;
        margin-top:50em;
        padding-left:2.5em;
    }
    
    .card{
        width:100%;
        box-shadow:0 .2em 2em .2em rgba(0, 0, 0, 0.1);
        border-radius: 1em;
        margin:1em;
        background-color:white;
    }
    
    .cardtitle{
        font-family: 'TT Norms Pro';
        font-size:2em;
        font-style: normal;
        font-weight: 600;
        line-height: 1em;
        margin:0em auto 1.25em;
        width:80%;
    }
    
    .cardtext{
        font-family: 'TT Norms Pro';
        font-size:1.5em;
        font-style: normal;
        font-weight: 300;
        width:80%;
        margin:-1.5em auto 2em auto;
    }
    
    
    #team{
        width:90%;
        margin:45em auto 0em auto;
    }
    
    #teamtitle{
        font-family: 'TT Norms Pro';
        font-size:2.75em;
        font-style: normal;
        font-weight: 600;
        line-height: 1em;
        width:100%;
        text-align:center;
    }
    
    #teamprofiles{
        display:flex;
        justify-content: space-around;
        flex-wrap:wrap;
        width:100%;
    }
    
    .profile{
        width:48%;
        text-align:center;   
    }
    
    .profilepic{
        width:80%;
        margin:1em auto 1em auto;
    
    }
    
    .profiletitle{
        width:100%;
        font-family: 'TT Norms Pro';
        font-size:1.75em;
        font-style: normal;
        font-weight: 600;
        line-height: 1em;
        margin:0em auto -.5em auto;
    }
    
    .profilesubtitle{
        width:100%;
        font-family: 'TT Norms Pro';
        font-size:1.5em;
        font-style: normal;
        font-weight: 300;
        line-height: 1em;
        margin:0em auto 1em auto;
    }
    
    
    
    #footer{
        display:none;
    }
}

@media only screen and (min-width: 415px) {
    body{font-size:7px;}

    #landingtitle{
        line-height:1.25em;
    }

    #landingtitle p{
    margin-bottom:.75rem;
    }

    #landingsubtitle{
        line-height:1.25em;
        font-size:1.25em;
    }

    .landingtext{
        margin-top:1em;
    }

    .rightbannertext{
        line-height: 1.25em;
        margin-top:-25%;
    }

    #leftbannertext{
        line-height: 1.25em;
        margin-top:-18%;
    }

    .footersection{
        font-size:1em;
    }
}

@media only screen and (min-width: 485px) {
    body{font-size:8px;}

    #landingtitle{
        line-height:1.25em;
    }

    #landingtitle p{
    margin-bottom:.75rem;
    }

    #landingsubtitle{
        line-height:1.25em;
        font-size:1.25em;
    }

    .landingtext{
        margin-top:1em;
    }

    .footersection{
        font-size:1em;
    }
}

@media only screen and (min-width: 554px) {
    body{font-size:8px;}

    #landingsubtitle{
        line-height:1.75em;
    }

    .landingtext{
        margin-top:2.5em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 623px) {
    body{font-size:9px;}

    #landingsubtitle{
        line-height:1.75em;
    }

    .landingtext{
        margin-top:2em;
    }
}

@media only screen and (min-width: 692px) {
    body{font-size:10px;}

    #landingsubtitle{
        line-height:1.75em;
    }

    .landingtext{
        margin-top:3em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 829px) {
    body {font-size:12px;}

    #landingsubtitle{
        line-height:1.5em;
    }
}

@media only screen and (min-width: 899px) {
    body {font-size:13px;}

    #landingsubtitle{
        line-height:1.5em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {font-size:14px;}  

    #landingsubtitle{
        line-height:1.5em;
    }
}

@media only screen and (min-width: 1040px) {
    body {font-size:15px;}

    #landingsubtitle{
        line-height:1.7em;
    }
}

@media only screen and (min-width: 1107px) {
    body {font-size:16px;}

    #landingtitle{
    font-size:3em;
    }

    #landingsubtitle{
        line-height:1.7em;
        font-size:1.5em;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
