@font-face {
    font-family: 'TT Norms Pro';
    src: url("../hatchcredit.github.io/TTNormsProFamily/TTNormsProNormal.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url("../hatchcredit.github.io/TTNormsProFamily/TTNormsProRegular.otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url("../hatchcredit.github.io/TTNormsProFamily/TTNormsProDemiBold.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url("../hatchcredit.github.io/TTNormsProFamily/TTNormsProLight.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url("../hatchcredit.github.io/TTNormsProFamily/TTNormsProBold.otf");
    font-weight: 700;
    font-style: normal;
}

img {
  max-width: 100%;
  height:auto;
  display: block;
}

/*header shit*/

#header {
	width:100%;
	height:5em;
	position:fixed;
	top:0;
	left:0;
	background-color:white;
	z-index:10;
}

#getapp{
	position:relative;
	overflow: hidden;
	margin-right:2.5em;
	width:8.75em;
	padding-top:.23em;
	height:2.5em;
	vertical-align:center;
	text-align:center;
	top:1.15em;
	float:right;
	font-family: 'TT Norms Pro';
	font-weight:500;
	text-decoration:none;
	color:white;

	background: #907CFF;
	border-radius: 1em;
	text-align:center;
}

#getapp p{
	margin:0em;
	line-height: 2em;
}

#getappbutton{

	font-family: 'TT Norms Pro';
	font-size: 1.25em;
	font-style: normal;
	font-weight: 500;
	color:white;
	text-decoration:none;
	
}

.navbutton{
	width:auto;
	font-family: 'TT Norms Pro';
	font-size:1em;
	font-style: normal;
	font-weight: normal;
	position:relative;
	overflow: hidden;
	margin-right:3em;
	width:auto;
	height:auto;
	text-align:center;
	top:1em;
	float:right;
	text-decoration:none;
	color:black;
}

.navbutton a{
	text-decoration:none;
}

.navbutton a:link {
	color: black;
	text-decoration:none;
}

/* visited link */
.navbutton a:visited {
	color: black;
	text-decoration:none;
}

/* mouse over link */
.navbutton a:hover {
	color: black;
	text-decoration:none;
}

/* selected link */
.navbutton a:active {
	color: black;
	text-decoration:none;
}

#logo{
	width:5.5em;
	height:auto;
}

#logobutton{
	position:absolute;
	top:1.75em;
	left:4em;
}

/*actual main shit*/

#container{
	width:100%;
	margin-top:6em;
	background-color:white;

}

.blog{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
	width:90%;
	margin-right:auto;
	margin-left:auto;
}

.card{
	width:31%;
	margin:1em 1em;
	box-shadow:0 .2em 2em .2em rgba(0, 0, 0, 0.1);
    border-radius: 1.75em;
}

.picture{
	width:100%;
	position:absolute;
	top:0;
	left:0;
}

.title{
	width:90%;
	margin-left:5%;
	margin-top: 1em;
	font-family: 'TT Norms Pro';
    font-size:1.5em;
    font-style: normal;
    font-weight: 600;
}

.subtitle{
	width:90%;
	margin-left:5%;
	margin-top: 1em;
	font-family: 'TT Norms Pro';
	font-size:1em;
	line-height:1em;
    font-style: normal;
    font-weight: normal;
}

.button{
	width:40%;
	height:1.75em;
	margin-bottom:1em;
	margin-left:5%;
	padding-bottom:-.5em;
	color:white;
	background-color: #907CFF;
	text-align:center;
	font-family: 'TT Norms Pro';
	font-size:1.5em;
    font-style: normal;
	font-weight: normal;
    border-radius: .5em;
}

#footer{
	width:100%;
	background-color:#907CFF;
	margin-top:9em;
}

#footercontainer{
	width:90%;
	display:flex;
	justify-content: space-around;
	background-color:#907CFF;
	margin:0em 5em;
}

.footercolumn{
	width:14%;
	margin:1em 0em 3em;
}

.footersection{
	font-family: 'TT Norms Pro';
	font-size:1.25em;
	font-style: normal;
	font-weight: 600;
	color:white;
	width:100%;
}

.footeroption{
	font-family: 'TT Norms Pro';
	font-size:1em;
	font-style: normal;
	font-weight: 400;
	color:white;
	width:100%;
	float:left;
	margin:-.5em 0em;
}

.footeroption a{
	text-decoration:none;
	color:white;

}

.footerpic{
	width:70%;
	height:auto;
	margin:0em 0em .5em;

}