
@font-face {
    font-family: 'TT Norms Pro';
    src: url("/TT Norms Pro Family/TT Norms Pro Normal.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url("/TT Norms Pro Family/TT Norms Pro Regular.otf") format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url("/TT Norms Pro Family/TT Norms Pro DemiBold.otf") format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url("/TT Norms Pro Family/TT Norms Pro Light.otf") format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url("/TT Norms Pro Family/TT Norms Pro Bold.otf") format('opentype');
    font-weight: 700;
    font-style: normal;
}

img {
  max-width: 100%;
  height:auto;
  display: block;
}

/*header shit*/

#header {
	width:100%;
	height:5em;
	position:fixed;
	top:0;
	left:0;
	background-color:white;
	z-index:10;
}

#getapp{
	position:relative;
	overflow: hidden;
	margin-right:2.5em;
	width:8.75em;
	padding-top:.23em;
	height:2.5em;
	vertical-align:center;
	text-align:center;
	top:1.15em;
	float:right;
	font-family: 'TT Norms Pro';
	font-weight:500;
	text-decoration:none;
	color:white;

	background: #907CFF;
	border-radius: 1em;
	text-align:center;
}

#getapp p{
	margin:0em;
	line-height: 2em;
}

#getappbutton{

	font-family: 'TT Norms Pro';
	font-size: 1.25em;
	font-style: normal;
	font-weight: 500;
	color:white;
	text-decoration:none;
	
}

.navbutton{
	width:auto;
	font-family: 'TT Norms Pro';
	font-size:1em;
	font-style: normal;
	font-weight: normal;
	position:relative;
	overflow: hidden;
	margin-right:3em;
	width:auto;
	height:auto;
	text-align:center;
	top:1em;
	float:right;
	text-decoration:none;
	color:black;
}

.navbutton a{
	text-decoration:none;
}

.navbutton a:link {
	color: black;
	text-decoration:none;
}

/* visited link */
.navbutton a:visited {
	color: black;
	text-decoration:none;
}

/* mouse over link */
.navbutton a:hover {
	color: black;
	text-decoration:none;
}

/* selected link */
.navbutton a:active {
	color: black;
	text-decoration:none;
}

#logo{
	width:5.5em;
	height:auto;
}

#logobutton{
	position:absolute;
	top:1.75em;
	left:4em;
}

/*actual main shit*/

#container{
	width:100%;
	margin-top:6em;
	background-color:white;

}

/*landing*/

#landing{
	height:50em;
	width:100%;
	background-image:url("landingbackground.svg");
	background-position: 50% 1%;
	background-repeat: no-repeat;
	background-size: 89%;
	margin-bottom:-15em;
}

/*landing text*/

.landingtext{
	position:absolute;
	margin-top:3em;
	left:7.5em;
	width:45%;
	z-index:1;
}

#landingtitle{
	font-family: TT Norms Pro;
	font-size:2.5em;
	font-style: normal;
	font-weight: 600;
	line-height: 1.5em;
	float:left;
	width:90%;
}

#landingtitle p{
	margin-bottom:1rem;
}

#landingsubtitle{
	font-family: TT Norms Pro;
	font-size:1.5em;
	font-style: normal;
	font-weight: normal;
	line-height: 2em;
	float:none;
	width:90%;
}

#applestorepic{
	width:26.75%;
	height:auto;
	float:left;
	margin:0em 1em .5em 0em;
}

#googleplaypic{
	width:30%;
	height:auto;
	float:left;
	margin:0em 0em .5em;
}

/*down button*/

.downbutton{
	width:3em;
	height:auto;
	position:absolute;
	top:36em;
	left:50%;
	z-index:2;

}

/*landing image*/

#landingmockup{
	width:40%;
	padding-right:3em;
	float:right;
	z-index:1;
}

#features{
	width:85%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:-5%;
	display:flex;
	justify-content: space-around;
	position:relative;
	z-index: 5;
}

.column{
	width:30%;
	box-shadow:0 .2em 2em .2em rgba(0, 0, 0, 0.1);
	border-radius: 1.25em;
	margin:2em 1em;
	background-color:white;
}

.featurepic{
	width:60%;
	height:auto;
	margin-right:auto;
	margin-left:auto;
	margin-top: 2em;
	margin-bottom:-1em;
}

.featuretitle{
	font-family: 'TT Norms Pro';
	font-size:2em;
	font-style: normal;
	font-weight: 600;
	line-height: 1.5em;
	text-align:center;
}

.featuretext{
	font-family: 'TT Norms Pro';
	font-size:1.1em;
	font-style: normal;
	font-weight: 300;
	width:80%;
	margin:-1.5em auto 2em auto;
}

#banners{
	margin-top:;
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content: space-around;
	z-index: 1;

}

.bannerpic{
	width:100%;
	height:auto;
	margin-bottom:-8.5%;
}

/*.learnbannerpic{
	margin-top:-5%;
}*/

#buildbanner{
	width:100%;
	height:30%;
	position:relative;
	z-index:4;
}

#savebanner{
	width:100%;
	height:30%;
	position:relative;
	z-index:3;
}

#learnbanner{
	width:100%;
	height:30%;
	position:relative;
	z-index:2;
}

.rightbannertitle{
	font-family: 'TT Norms Pro';
	font-size:2.75em;
	font-style: normal;
	font-weight: 600;
	line-height: 1em;
	width:35%;
	position:absolute;
	right:8%;
	top:25%;
}

.rightbannertext{
	font-family: 'TT Norms Pro';
	font-size:1.75em;
	font-style: normal;
	font-weight: 300;
	width:35%;
	position:absolute;
	right:8%;
	float:right;
	margin-top:-26.5%;
}

#leftbannertitle{
	font-family: 'TT Norms Pro';
	font-size:2.75em;
	font-style: normal;
	font-weight: 600;
	line-height: 1em;
	width:35%;
	position:absolute;
	left:8%;
	top:40%;
}

#leftbannertext{
	font-family: 'TT Norms Pro';
	font-size:1.75em;
	font-style: normal;
	font-weight: 300;
	width:35%;
	position:absolute;
	left:8%;
	float:left;
	margin-top:-20%;
}

#footer{
	width:100%;
	background-color:#907CFF;
	margin-top:9em;
}

#footercontainer{
	width:90%;
	display:flex;
	justify-content: space-around;
	background-color:#907CFF;
	margin:0em 5em;
}

.footercolumn{
	width:14%;
	margin:1em 0em 3em;
}

.footersection{
	font-family: 'TT Norms Pro';
	font-size:1.25em;
	font-style: normal;
	font-weight: 600;
	color:white;
	width:100%;
}

.footeroption{
	font-family: 'TT Norms Pro';
	font-size:1em;
	font-style: normal;
	font-weight: 400;
	color:white;
	width:100%;
	float:left;
	margin:-.5em 0em;
}

.footeroption a{
	text-decoration:none;
	color:white;

}

.footerpic{
	width:70%;
	height:auto;
	margin:0em 0em .5em;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 414px) {
	body{font-size:7px;}

	#landingtitle{
		line-height:1em;
	}

	#landingtitle p{
	margin-bottom:.5rem;
	}

	#landingsubtitle{
		line-height:1.25em;
		font-size:1em;
	}

	.landingtext{
		margin-top:.75em;
		width:40%;
	}

	#landing{
		margin-bottom:-25em;
	}

	.rightbannertitle{
		top:15%;
	}

	.rightbannertext{
		line-height: 1.25em;
		margin-top:-23%;
		top:90%;
	}

	#leftbannertitle{
		top:30%;
	}

	#leftbannertext{
		line-height: 1.25em;
		margin-top:-18%;
		top:95%;
	}

	.footersection{
		font-size:1em;
	}
}

@media only screen and (min-width: 415px) {
	body{font-size:7px;}

	#landingtitle{
		line-height:1.25em;
	}

	#landingtitle p{
	margin-bottom:.75rem;
	}

	#landingsubtitle{
		line-height:1.25em;
		font-size:1.25em;
	}

	.landingtext{
		margin-top:1em;
	}

	.rightbannertext{
		line-height: 1.25em;
		margin-top:-25%;
	}

	#leftbannertext{
		line-height: 1.25em;
		margin-top:-18%;
	}

	.footersection{
		font-size:1em;
	}
}

@media only screen and (min-width: 485px) {
	body{font-size:8px;}

	#landingtitle{
		line-height:1.25em;
	}

	#landingtitle p{
	margin-bottom:.75rem;
	}

	#landingsubtitle{
		line-height:1.25em;
		font-size:1.25em;
	}

	.landingtext{
		margin-top:1em;
	}

	.footersection{
		font-size:1em;
	}
}

@media only screen and (min-width: 554px) {
	body{font-size:8px;}

	#landingsubtitle{
		line-height:1.75em;
	}

	.landingtext{
		margin-top:2.5em;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 623px) {
	body{font-size:9px;}

	#landingsubtitle{
		line-height:1.75em;
	}

	.landingtext{
		margin-top:2em;
	}
}

@media only screen and (min-width: 692px) {
	body{font-size:10px;}

	#landingsubtitle{
		line-height:1.75em;
	}

	.landingtext{
		margin-top:3em;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 829px) {
	body {font-size:12px;}

	#landingsubtitle{
		line-height:1.5em;
	}
}

@media only screen and (min-width: 899px) {
	body {font-size:13px;}

	#landingsubtitle{
		line-height:1.5em;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	body {font-size:14px;}	

	#landingsubtitle{
		line-height:1.5em;
	}
}

@media only screen and (min-width: 1040px) {
	body {font-size:15px;}

	#landingsubtitle{
		line-height:1.7em;
	}
}

@media only screen and (min-width: 1107px) {
	body {font-size:16px;}

	#landingtitle{
	font-size:3em;
	}

	#landingsubtitle{
		line-height:1.7em;
		font-size:1.5em;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}



