/*body{font-size: 16px;}*/

@font-face {
	font-family: 'TT Norms Pro';
	src: url("TT Norms Pro Family/TT Norms Pro Normal.otf") format('otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TT Norms Pro';
	src: url("TT Norms Pro Family/TT Norms Pro Regular.otf") format('otf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'TT Norms Pro';
	src: url("TT Norms Pro Family/TT Norms Pro DemiBold.otf") format('otf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'TT Norms Pro';
	src: url("TT Norms Pro Family/TT Norms Pro Light.otf") format('otf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'TT Norms Pro';
	src: url("TT Norms Pro Family/TT Norms Pro Bold.otf") format('otf');
	font-weight: 700;
	font-style: normal;
}

img {
  max-width: 100%;
  height:auto;
  display: block;
}

/*header shit*/

#header {
	width:100%;
	height:5em;
	position:fixed;
	top:0;
	left:0;
	background-color:white;
	z-index:10;
}

#getapp{
	position:relative;
	overflow: hidden;
	margin-right:2.5em;
	width:8.75em;
	padding-top:.23em;
	height:2.5em;
	vertical-align:center;
	text-align:center;
	top:1.15em;
	float:right;
	font-family: 'TT Norms Pro';
	font-weight:500;
	text-decoration:none;
	color:white;

	background: #907CFF;
	border-radius: 1em;
	text-align:center;
}

#getapp p{
	margin:0em;
	line-height: 2em;
}

#getappbutton{

	font-family: 'TT Norms Pro';
	font-size: 1.25em;
	font-style: normal;
	font-weight: 500;
	color:white;
	text-decoration:none;
	
}

.navbutton{
	width:auto;
	font-family: 'TT Norms Pro';
	font-size:1em;
	font-style: normal;
	font-weight: normal;
	position:relative;
	overflow: hidden;
	margin-right:3em;
	width:auto;
	height:auto;
	text-align:center;
	top:1em;
	float:right;
	text-decoration:none;
	color:black;
}

.navbutton a{
	text-decoration:none;
}

.navbutton a:link {
	color: black;
	text-decoration:none;
}

/* visited link */
.navbutton a:visited {
	color: black;
	text-decoration:none;
}

/* mouse over link */
.navbutton a:hover {
	color: black;
	text-decoration:none;
}

/* selected link */
.navbutton a:active {
	color: black;
	text-decoration:none;
}

#logo{
	width:5.5em;
	height:auto;
}

#logobutton{
	position:absolute;
	top:1.75em;
	left:4em;
}

/*actual main shit*/

#container{
	width:100%;
	margin-top:6em;
	background-color:white;

}

/*landing*/

#landing{
	height:40em;
	width:100%;
	margin-bottom:-5em;
}

/*landing image*/

#landingpic{
	width:50%;
	height:auto;
	z-index:1;
	position:absolute;
	left:6em;
	top:8em;
}

/*landing text*/

.landingtext{
	position:absolute;
	top:8em;
	right:1em;
	width:35%;
	z-index:1;
	float:left;
}

#landingtitle{
	font-family: TT Norms Pro;
	font-size:2.5em;
	font-style: normal;
	font-weight: 600;
	line-height: 1.5em;
	float:left;
	width:90%;
	margin-bottom:1.5rem;
}


#applestorepic{
	width:26.75%;
	height:auto;
	float:left;
	margin:0em 1em .5em 0em;
}

#googleplaypic{
	width:30%;
	height:auto;
	float:left;
	margin:0em 0em .5em;
}

#explanation{
	width:90%;
	margin-right: auto;
	margin-left:auto;
	display:flex;
	flex-direction:column;
}

.row{
	width:90%;
	margin:3em auto 0em auto;
}

.lefttext{
	width:45%;
	margin-right:5%;
	float:left;
	padding-top:2em;
}

.lefttitle{
	width:80%;
	font-family: 'TT Norms Pro';
	font-size:2em;
	font-style: normal;
	font-weight: 600;
	line-height: 1.25em;
}

.leftsubtitle{
	font-family: 'TT Norms Pro';
	font-size:1.1em;
	font-style: normal;
	font-weight: 300;
	margin:-1em auto 2em auto;
	line-height:1.5em;
}

.rightpic{
	width:50%;
	height:auto;
	float:left;
}

.leftpic{
	width:50%;
	height:auto;
	float:left;
}

#righttext{
	width:45%;
	margin-left:5%;
	float:left;
	padding-top:2em;
}

#righttitle{
	width:80%;
	font-family: 'TT Norms Pro';
	font-size:2em;
	font-style: normal;
	font-weight: 600;
	line-height: 1.25em;
}

#rightsubtitle{
	font-family: 'TT Norms Pro';
	font-size:1.1em;
	font-style: normal;
	font-weight: 300;
	margin:-1em auto 2em auto;
	line-height:1.5em;
}

#footer{
	width:100%;
	background-color:#907CFF;
	margin-top:9em;
}

#footercontainer{
	width:90%;
	display:flex;
	justify-content: space-around;
	background-color:#907CFF;
	margin:0em 5em;
}

.footercolumn{
	width:14%;
	margin:1em 0em 3em;
}

.footersection{
	font-family: 'TT Norms Pro';
	font-size:1.25em;
	font-style: normal;
	font-weight: 600;
	color:white;
	width:100%;
}

.footeroption{
	font-family: 'TT Norms Pro';
	font-size:1em;
	font-style: normal;
	font-weight: 400;
	color:white;
	width:100%;
	float:left;
	margin:-.5em 0em;
}

.footeroption a{
	text-decoration:none;
	color:white;

}

.footerpic{
	width:70%;
	height:auto;
	margin:0em 0em .5em;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 414px) {
	body{font-size:7px;}

	#landingtitle{
		line-height:1em;
	}

	#landingtitle p{
	margin-bottom:.5rem;
	}

	#landingsubtitle{
		line-height:1.25em;
		font-size:1em;
	}

	.landingtext{
		margin-top:.75em;
		width:40%;
	}

	#landing{
		margin-bottom:-25em;
	}


	.footersection{
		font-size:1em;
	}
}

@media only screen and (min-width: 415px) {
	body{font-size:7px;}

	#landingtitle{
		line-height:1.25em;
	}

	#landingtitle p{
	margin-bottom:.75rem;
	}

	#landingsubtitle{
		line-height:1.25em;
		font-size:1.25em;
	}

	.landingtext{
		margin-top:1em;
	}

	.footersection{
		font-size:1em;
	}
}

@media only screen and (min-width: 485px) {
	body{font-size:8px;}

	#landingtitle{
		line-height:1.25em;
	}

	#landingtitle p{
	margin-bottom:.75rem;
	}

	#landingsubtitle{
		line-height:1.25em;
		font-size:1.25em;
	}

	.landingtext{
		margin-top:1em;
	}

	.footersection{
		font-size:1em;
	}
}

@media only screen and (min-width: 554px) {
	body{font-size:8px;}

	#landingsubtitle{
		line-height:1.75em;
	}

	.landingtext{
		margin-top:2.5em;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 623px) {
	body{font-size:9px;}

	#landingsubtitle{
		line-height:1.75em;
	}

	.landingtext{
		margin-top:2em;
	}
}

@media only screen and (min-width: 692px) {
	body{font-size:10px;}

	#landingsubtitle{
		line-height:1.75em;
	}

	.landingtext{
		margin-top:3em;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 829px) {
	body {font-size:12px;}

	#landingsubtitle{
		line-height:1.5em;
	}
}

@media only screen and (min-width: 899px) {
	body {font-size:13px;}

	#landingsubtitle{
		line-height:1.5em;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	body {font-size:14px;}	

	#landingsubtitle{
		line-height:1.5em;
	}
}

@media only screen and (min-width: 1040px) {
	body {font-size:15px;}

	#landingsubtitle{
		line-height:1.7em;
	}
}

@media only screen and (min-width: 1107px) {
	body {font-size:16px;}

	#landingtitle{
	font-size:3em;
	}

	#landingsubtitle{
		line-height:1.7em;
		font-size:1.5em;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}



