@font-face {
    font-family: 'TT Norms Pro';
    src: url("../hatchcredit.github.io/TTNormsProFamily/TTNormsProNormal.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url("../hatchcredit.github.io/TTNormsProFamily/TTNormsProRegular.otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url("../hatchcredit.github.io/TTNormsProFamily/TTNormsProDemiBold.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url("../hatchcredit.github.io/TTNormsProFamily/TTNormsProLight.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url("../hatchcredit.github.io/TTNormsProFamily/TTNormsProBold.otf");
    font-weight: 700;
    font-style: normal;
}

img {
  max-width: 100%;
  height:auto;
  display: block;
}

/*header shit*/

#header {
	width:100%;
	height:5em;
	position:fixed;
	top:0;
	left:0;
	background-color:white;
	z-index:10;
}

#mobile-header{
	display: none;
}

#hamburger-menu{
	display:none;
}

#getapp{
	position:relative;
	overflow: hidden;
	margin-right:2.5em;
	width:8.75em;
	padding-top:.23em;
	height:2.5em;
	vertical-align:center;
	text-align:center;
	top:1.15em;
	float:right;
	font-family: 'TT Norms Pro';
	font-weight:500;
	text-decoration:none;
	color:white;

	background: #907CFF;
	border-radius: 1em;
	text-align:center;
}

#getapp p{
	margin:0em;
	line-height: 2em;
}

#getappbutton{

	font-family: 'TT Norms Pro';
	font-size: 1.25em;
	font-style: normal;
	font-weight: 500;
	color:white;
	text-decoration:none;
	
}

.navbutton{
	width:auto;
	font-family: 'TT Norms Pro';
	font-size:1em;
	font-style: normal;
	font-weight: normal;
	position:relative;
	overflow: hidden;
	margin-right:3em;
	width:auto;
	height:auto;
	text-align:center;
	top:1em;
	float:right;
	text-decoration:none;
	color:black;
}

.navbutton a{
	text-decoration:none;
}

.navbutton a:link {
	color: black;
	text-decoration:none;
}

/* visited link */
.navbutton a:visited {
	color: black;
	text-decoration:none;
}

/* mouse over link */
.navbutton a:hover {
	color: black;
	text-decoration:none;
}

/* selected link */
.navbutton a:active {
	color: black;
	text-decoration:none;
}

#logo{
	width:5.5em;
	height:auto;
}

#logobutton{
	position:absolute;
	top:1.75em;
	left:4em;
}

/*actual main shit*/

#container{
	width:100%;
	margin-top:6em;
	background-color:white;

}

/*landing*/

#landing{
	height:40em;
	width:100%;
	margin-bottom:-5em;
}

/*landing image*/

#landingpic{
	width:50%;
	height:auto;
	z-index:1;
	position:absolute;
	left:6em;
	top:8em;
}

/*landing text*/

.landingtext{
	position:absolute;
	top:8em;
	right:1em;
	width:35%;
	z-index:1;
	float:left;
}

#landingtitle{
	font-family: TT Norms Pro;
	font-size:2.5em;
	font-style: normal;
	font-weight: 600;
	line-height: 1.5em;
	float:left;
	width:90%;
	margin-bottom:1.5rem;
}


#applestorepic{
	width:26.75%;
	height:auto;
	float:left;
	margin:0em 1em .5em 0em;
}

#googleplaypic{
	width:30%;
	height:auto;
	float:left;
	margin:0em 0em .5em;
}

#explanation{
	width:90%;
	margin-right: auto;
	margin-left:auto;
	display:flex;
	flex-direction:column;
}

.row{
	width:90%;
	margin:3em auto 0em auto;
}

.lefttext{
	width:45%;
	margin-right:5%;
	float:left;
	padding-top:2em;
}

.lefttitle{
	width:80%;
	font-family: 'TT Norms Pro';
	font-size:2em;
	font-style: normal;
	font-weight: 600;
	line-height: 1.25em;
}

.leftsubtitle{
	font-family: 'TT Norms Pro';
	font-size:1.1em;
	font-style: normal;
	font-weight: 300;
	margin:-1em auto 2em auto;
	line-height:1.5em;
}

.rightpic{
	width:50%;
	height:auto;
	float:left;
}

.leftpic{
	width:50%;
	height:auto;
	float:left;
}

#righttext{
	width:45%;
	margin-left:5%;
	float:left;
	padding-top:2em;
}

#righttitle{
	width:80%;
	font-family: 'TT Norms Pro';
	font-size:2em;
	font-style: normal;
	font-weight: 600;
	line-height: 1.25em;
}

#rightsubtitle{
	font-family: 'TT Norms Pro';
	font-size:1.1em;
	font-style: normal;
	font-weight: 300;
	margin:-1em auto 2em auto;
	line-height:1.5em;
}

#footer{
	width:100%;
	background-color:#907CFF;
	margin-top:9em;
}

#footercontainer{
	width:90%;
	display:flex;
	justify-content: space-around;
	background-color:#907CFF;
	margin:0em 5em;
}

.footercolumn{
	width:14%;
	margin:1em 0em 3em;
}

.footersection{
	font-family: 'TT Norms Pro';
	font-size:1.25em;
	font-style: normal;
	font-weight: 600;
	color:white;
	width:100%;
}

.footeroption{
	font-family: 'TT Norms Pro';
	font-size:1em;
	font-style: normal;
	font-weight: 400;
	color:white;
	width:100%;
	float:left;
	margin:-.5em 0em;
}

.footeroption a{
	text-decoration:none;
	color:white;

}

.footerpic{
	width:70%;
	height:auto;
	margin:0em 0em .5em;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 415px) {
	body{font-size:12px;}
	#mobile-logo{
        display: inline-block;
    }

    #mobile-logobutton{
        width: 30%;
        height: auto;
    }
    
    #hamburger-menu{
        position: fixed;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: white;
        z-index: 10;
        top: 10%;
    }

    a{
        margin-right: none;
    }

    #hamburger-image{
        width: 20%;
        height: 20%;
        margin-right: 0;
        margin-left: 3em;
    }

    #hamburger-icon{
        display: inline-block;
    }

    #container{
        margin-top: 16%;
    }

    .navbutton{
        background-color: white;
        height: 2em;
        width: 100%;
        border-top: thin solid #f0f0f0;
        border-bottom: thin solid #f0f0f0;
        margin: auto;
        line-height: 1em;
        display: table-column;
        padding-bottom:1em;
        font-family: TT Norms Pro;
        font-size:2em;
    }

    .navbutton{
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    #mobile-header{
        position: fixed;
        width: 100%;
        height: 10%;
        left: 0;
        top: 0;
        padding-left: 10%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        /* border-bottom: 0.5px solid grey; */
        background-color: white;
        z-index: 10;
    }

    #header{
        display: none;
    }
	/*landing*/

	#landing{
		height:20em;
		width:100%;
		margin-bottom:-5em;
	}

	/*landing image*/

	#landingpic{
		width:80%;
		height:auto;
		z-index:1;
		margin:0em auto;
		position:absolute;
		left:3em;
		top:19em;
	
	}

	/*landing text*/

	.landingtext{
		position:absolute;
		top:7em;
		left:3em;
		width:85%;
		z-index:1;
		float:left;
	}

	#landingtitle{
		font-family: TT Norms Pro;
		font-size:3em;
		font-style: normal;
		font-weight: 600;
		line-height: 1.25em;
		float:left;
		width:100%;
		margin-bottom:1.5rem;
	}


	#applestorepic{
		width:41%;
		height:auto;
		float:left;
		margin:-3em auto 0em auto;
	}

	#googleplaypic{
		width:46%;
		height:auto;
		float:left;
		margin:-3em 1em 0em auto;
	}

	#explanation{
		width:85%;
		margin-right: auto;
		margin-left:auto;
		margin-top:16em;
		display:flex;
		flex-direction:column;
	}

	.row{
		width:100%;
		margin:-1em auto 0em auto;
	}

	.lefttext{
		width:100%;
		float:left;
		padding-top:2em;
	}

	.lefttitle{
		width:100%;
		font-family: 'TT Norms Pro';
		font-size:2.5em;
		font-style: normal;
		font-weight: 600;
		line-height: 1em;
	}

	.leftsubtitle{
		font-family: 'TT Norms Pro';
		font-size:1.75em;
		font-style: normal;
		font-weight: 300;
		margin:-1em auto 2em auto;
		line-height:1.25em;
	}

	.rightpic{
		width:100%;
		height:auto;
		float:left;
		
	}

	.leftpic{
		display:none;
	}

	#righttext{
		width:100%;
		height:40em;
		float:right;
		padding-top:2em;
		background-image: url("howpics/bank.svg");
		background-size:100%;
		background-repeat:no-repeat;
		background-position:0em 22em;
	}

	#righttitle{
		width:100%;
		font-family: 'TT Norms Pro';
		font-size:2.5em;
		font-style: normal;
		font-weight: 600;
		line-height: 1em;
	}

	#rightsubtitle{
		font-family: 'TT Norms Pro';
		font-size:1.75em;
		font-style: normal;
		font-weight: 300;
		margin:-1em auto 2em auto;
		line-height:1.25em;
	}

	#footer{
		display:none;
	}
	
}

@media only screen and (min-width: 416px) {
	body{font-size:7px;}

	#landingtitle{
		line-height:1.25em;
	}

	#landingtitle p{
	margin-bottom:.75rem;
	}

	#landingsubtitle{
		line-height:1.25em;
		font-size:1.25em;
	}

	.landingtext{
		margin-top:1em;
	}

	.footersection{
		font-size:1em;
	}
	
}

@media only screen and (min-width: 485px) {
	body{font-size:8px;}

	#landingtitle{
		line-height:1.25em;
	}

	#landingtitle p{
	margin-bottom:.75rem;
	}

	#landingsubtitle{
		line-height:1.25em;
		font-size:1.25em;
	}

	.landingtext{
		margin-top:1em;
	}

	.footersection{
		font-size:1em;
	}
}

@media only screen and (min-width: 554px) {
	body{font-size:8px;}

	#landingsubtitle{
		line-height:1.75em;
	}

	.landingtext{
		margin-top:2.5em;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 623px) {
	body{font-size:9px;}

	#landingsubtitle{
		line-height:1.75em;
	}

	.landingtext{
		margin-top:2em;
	}
}

@media only screen and (min-width: 692px) {
	body{font-size:10px;}

	#landingsubtitle{
		line-height:1.75em;
	}

	.landingtext{
		margin-top:3em;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 829px) {
	body {font-size:12px;}

	#landingsubtitle{
		line-height:1.5em;
	}
}

@media only screen and (min-width: 899px) {
	body {font-size:13px;}

	#landingsubtitle{
		line-height:1.5em;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	body {font-size:14px;}	

	#landingsubtitle{
		line-height:1.5em;
	}
}

@media only screen and (min-width: 1040px) {
	body {font-size:15px;}

	#landingsubtitle{
		line-height:1.7em;
	}
}

@media only screen and (min-width: 1107px) {
	body {font-size:16px;}

	#landingtitle{
	font-size:3em;
	}

	#landingsubtitle{
		line-height:1.7em;
		font-size:1.5em;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}



