
/*landing*/

#landing{
	height:50em;
	width:100%;
	background-image:url("assets/landingbackground.svg");
	background-position: 50% 1%;
	background-repeat: no-repeat;
	background-size: 89%;
	margin-bottom:-15em;
}

/*landing text*/

.landingtext{
	position:absolute;
	margin-top:3em;
	left:15%;
	width:45%;
	z-index:1;
}

#landingtitle{
	font-family: TT Norms Pro;
	font-size:2.5em;
	font-style: normal;
	font-weight: 600;
	line-height: 1.5em;
	float:left;
	width:70%;
}

#landingtitle p{
	margin-bottom:1rem;
}

#landingsubtitle{
	font-family: TT Norms Pro;
	font-size:1.25em;
	font-style: normal;
	font-weight: normal;
	line-height: 2em;
	float:none;
	width:70%;
}

/*landing image*/

#landingmockup{
	width:45%;
	padding-right:7em;
	float:right;
	z-index:1;
	padding-top:2%;
	/* background-image:url('indexpics/landingmockup.svg');
	background-size:120%;
	background-position:45% 0%;
	background-repeat:no-repeat;
	height: 0;
	padding: 0;
	padding-bottom: 45em;
	position:relative;  */
}

.navbutton{
	width:auto;
	font-family: 'TT Norms Pro';
	font-size:1em;
	font-style: normal;
	font-weight: normal;
	position:relative;
	overflow: hidden;
	margin-right:3em;
	width:auto;
	height:auto;
	text-align:center;
	top:1em;
	float:right;
	text-decoration:none;
	color:black;
}

#banners{
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content: space-around;
	z-index: 1;

}

.bannerpic{
	width:100%;
	height:auto;
	margin-bottom:-8.5%;
}

/*.learnbannerpic{
	margin-top:-5%;
}*/

#buildbanner{
	width:100%;
	height:30%;
	position:relative;
	z-index:4;
}

#savebanner{
	width:100%;
	height:30%;
	position:relative;
	z-index:3;
}

#learnbanner{
	width:100%;
	height:30%;
	position:relative;
	z-index:4;
}

.rightbannertitle{
	font-family: 'TT Norms Pro';
	font-size:2.5em;
	font-style: normal;
	font-weight: 600;
	line-height: 1em;
	width:30%;
	position:absolute;
	right:15%;
	top:28%;
	margin-bottom:1em;
}

.rightbannertext{
	font-family: 'TT Norms Pro';
	font-size:1.5em;
	font-style: normal;
	font-weight: 300;
	width:30%;
	position:absolute;
	right:15%;
	float:right;
}

.rightbannertext p{
	margin-top:4em;
}

#leftbannertitle{
	font-family: 'TT Norms Pro';
	font-size:2.5em;
	font-style: normal;
	font-weight: 600;
	line-height: 1em;
	width:30%;
	position:absolute;
	left:15%;
	top:35%;
}

#leftbannertext{
	font-family: 'TT Norms Pro';
	font-size:1.5em;
	font-style: normal;
	font-weight: 300;
	width:30%;
	position:absolute;
	left:15%;
	float:left;
}

#leftbannertext p{
	margin-top:1.5em;
}

#mobile-header{
	display:none;
}

#mc_embed_signup{
	background-color:none;
	height:5em;
	width:70%;
}


#mce-EMAIL{
	font-family: TT Norms Pro;
	font-size:1em;
	font-style: normal;
	font-weight: normal;
	height:2.50em;
	padding-right:2em;
	float:left;
	border-radius:.85em;
	border:.085em solid #b5b5b5;
	padding-left:.75em;
	width:40%;
}

div.mc-field-group{
	float:left;
}

#mc_embed_signup input.button{
	font-family: TT Norms Pro;
	font-size:1em;
	font-style: normal;
	font-weight: normal;
	color:white;
	background-color:#907CFF;
	border:.085em solid #907CFF;
	border-radius:.85em;
	height:2.75em;
	width:25%;
	margin-left:5%;
	width:30%;
}

#cta{
	width:60%;
	margin-right:auto;
	margin-left:auto;
	margin-top:12em;
}

#ctatitle{
	width:100%;
	font-family: 'TT Norms Pro';
	font-size:4em;
	font-style: normal;
	font-weight: 600;
	text-align:center;
}

#email{
	width:auto;
	padding-left:25%;
}

@media only screen and (min-width: 416px) {
	body{font-size:7px;}

	#landingtitle{
		line-height:1.25em;
	}

	#landingtitle p{
	margin-bottom:.75rem;
	}

	#landingsubtitle{
		line-height:1.25em;
		font-size:1.25em;
	}

	.landingtext{
		margin-top:1em;
	}

	.rightbannertext{
		line-height: 1.25em;
		margin-top:-25%;
	}

	#leftbannertext{
		line-height: 1.25em;
		margin-top:-18%;
	}

	.footersection{
		font-size:1em;
	}
}

@media only screen and (min-width: 485px) {
	body{font-size:8px;}

	#landingtitle{
		line-height:1.25em;
	}

	#landingtitle p{
	margin-bottom:.75rem;
	}

	#landingsubtitle{
		line-height:1.25em;
		font-size:1.25em;
	}

	.landingtext{
		margin-top:1em;
	}

	.footersection{
		font-size:1em;
	}
}

@media only screen and (min-width: 554px) {
	body{font-size:8px;}

	#landingsubtitle{
		line-height:1.75em;
	}

	.landingtext{
		margin-top:2.5em;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 623px) {
	body{font-size:9px;}

	#landingsubtitle{
		line-height:1.75em;
	}

	.landingtext{
		margin-top:2em;
	}
}

@media only screen and (min-width: 692px) {
	body{font-size:10px;}

	#landingsubtitle{
		line-height:1.75em;
	}

	.landingtext{
		margin-top:3em;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 829px) {
	body {font-size:12px;}

	#landingsubtitle{
		line-height:1.5em;
	}
}

@media only screen and (min-width: 899px) {
	body {font-size:13px;}

	#landingsubtitle{
		line-height:1.5em;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	body {font-size:14px;}	

	#landingsubtitle{
		line-height:1.5em;
	}
}

@media only screen and (min-width: 1040px) {
	body {font-size:15px;}

	#landingsubtitle{
		line-height:1.7em;
	}
}

@media only screen and (min-width: 1107px) {
	body {font-size:16px;}

	#landingtitle{
	font-size:2.75em;
	}

	#landingsubtitle{
		line-height:1.7em;
		font-size:1.5em;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}



