@media only screen and (min-width: 768px) {
  .logo {
    width: 15%;
    height: auto;
    margin-top: 7rem;
    margin-left: 10%;
  }

  @media only screen and (min-width: 1170px) {
    .logo {
      width: 7%;
      height: auto;
      margin-top: 6rem;
      margin-left: 10%;
    }
  }

  .text {
    width: 65%;
    height: auto;
    margin-left: 10%;
    margin-top: 15%;
    z-index: 5;
  }

  @media only screen and (min-width: 1170px) {
    .text {
      width: 45%;
      height: auto;
      margin-left: 10%;
      margin-top: 8%;
      z-index: 5;
    }
  }

  .title {
    width: 100%;
    float: left;
  }

  .subtitle {
    width: 80%;
    font-size: 1rem;
    font-family: "Gilroy-Regular", sans-serif;
    font-weight: normal;
    color: #2c2261;
    float: left;
  }

  @media only screen and (min-width: 768px) {
    .subtitle {
      margin-top: 3rem;
      width: 90%;
      font-size: 1.4rem;
      line-height: 2.4rem;
      font-weight: 300;
    }
  }
  @media only screen and (min-width: 1170px) {
    .subtitle {
      margin-top: 3rem;
      font-size: 1.8rem;
      line-height: 2.6rem;
    }
  }

  .cta {
    width: 100%;
    font-size: 1.6rem;
    font-family: "Gilroy-Bold", sans-serif;
    float: left;
  }

  .cta p {
    float: left;
  }

  @media only screen and (min-width: 768px) {
    .cta {
      margin-top: 4rem;
      font-size: 2.8rem;
      line-height: 3.6rem;
      font-weight: 300;
    }
  }
  @media only screen and (min-width: 1170px) {
    .cta {
      margin-top: 4rem;
      font-size: 2.8rem;
      line-height: 3.6rem;
    }
  }

  .arrow {
    width: 10%;
    height: auto;
    float: none;
  }

  @media only screen and (min-width: 768px) {
    .arrow {
      width: 7%;
      margin-left: 2rem;
      float: none;
    }
  }
  @media only screen and (min-width: 1170px) {
    .arrow {
      width: 7%;
      margin-left: 2rem;
      float: none;
    }
  }

  .cd-title {
    position: relative;
    height: 160px;
    line-height: 230px;
    text-align: left;
  }

  .cd-title h1 {
    font-size: 2.4rem;
  }

  @media only screen and (min-width: 768px) {
    .cd-title {
      line-height: 250px;
    }
  }

  @media only screen and (min-width: 1170px) {
    .cd-title {
      height: 200px;
      line-height: 300px;
    }
    .cd-title h1 {
      font-size: 3rem;
    }
  }

  .cd-intro {
    width: 100%;
    max-width: 768px;
    text-align: left;
  }

  .cd-headline {
    font-size: 3rem;
    line-height: 1.2;
  }

  @media only screen and (min-width: 768px) {
    .cd-headline {
      font-size: 4.8rem;
      font-weight: 300;
    }
  }
  @media only screen and (min-width: 1170px) {
    .cd-headline {
      font-size: 6rem;
    }
  }

  .cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
  }
  .cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
  }
  .cd-words-wrapper b.is-visible {
    position: relative;
  }
  .no-js .cd-words-wrapper b {
    opacity: 0;
  }
  .no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
  }

  /* -------------------------------- 
  
  xpush 
  
  -------------------------------- */
  .cd-headline.push b {
    opacity: 0;
  }
  .cd-headline.push b.is-visible {
    opacity: 1;
    -webkit-animation: push-in 0.6s;
    -moz-animation: push-in 0.6s;
    animation: push-in 0.6s;
  }
  .cd-headline.push b.is-hidden {
    -webkit-animation: push-out 0.6s;
    -moz-animation: push-out 0.6s;
    animation: push-out 0.6s;
  }

  @-webkit-keyframes push-in {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100%);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(10%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
  }
  @-moz-keyframes push-in {
    0% {
      opacity: 0;
      -moz-transform: translateX(-100%);
    }
    60% {
      opacity: 1;
      -moz-transform: translateX(10%);
    }
    100% {
      opacity: 1;
      -moz-transform: translateX(0);
    }
  }
  @keyframes push-in {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(10%);
      -moz-transform: translateX(10%);
      -ms-transform: translateX(10%);
      -o-transform: translateX(10%);
      transform: translateX(10%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @-webkit-keyframes push-out {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
    60% {
      opacity: 0;
      -webkit-transform: translateX(110%);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(100%);
    }
  }
  @-moz-keyframes push-out {
    0% {
      opacity: 1;
      -moz-transform: translateX(0);
    }
    60% {
      opacity: 0;
      -moz-transform: translateX(110%);
    }
    100% {
      opacity: 0;
      -moz-transform: translateX(100%);
    }
  }
  @keyframes push-out {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
    60% {
      opacity: 0;
      -webkit-transform: translateX(110%);
      -moz-transform: translateX(110%);
      -ms-transform: translateX(110%);
      -o-transform: translateX(110%);
      transform: translateX(110%);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%);
    }
  }

  /* -------------------------------- 
  
  images 
  
  -------------------------------- */

  .images {
    visibility: hidden;
  }

  @media only screen and (min-width: 768px) {
    .images {
      visibility: visible;
    }
  }
  @media only screen and (min-width: 1170px) {
    .images {
      visibility: visible;
    }
  }

  .sub {
    width: 20%;
    height: auto;
    position: absolute;
    bottom: -1%;
    right: 30%;
    z-index: 1;
  }

  @media only screen and (min-width: 768px) {
    .sub {
      width: 32%;
      height: auto;
      position: absolute;
      bottom: -1%;
      left: 22%;
      z-index: 1;
    }
  }
  @media only screen and (min-width: 1170px) {
    .sub {
      width: 20%;
      height: auto;
      position: absolute;
      bottom: -1%;
      left: 50%;
      z-index: 1;
    }
  }

  .landing {
    width: 22%;
    height: auto;
    position: absolute;
    bottom: 12%;
    right: 7%;
    z-index: 1;
  }

  @media only screen and (min-width: 768px) {
    .landing {
      width: 33%;
      height: auto;
      position: absolute;
      bottom: 10%;
      right: 7%;
      z-index: 1;
    }
  }
  @media only screen and (min-width: 1170px) {
    .landing {
      width: 22%;
      height: auto;
      position: absolute;
      bottom: 12%;
      right: 4%;
      z-index: 1;
    }
  }

  .month {
    width: 22%;
    height: auto;
    position: absolute;
    top: 9%;
    right: 22.5%;
    z-index: 1;
  }

  @media only screen and (min-width: 768px) {
    .month {
      width: 34%;
      height: auto;
      position: absolute;
      top: 58%;
      left: 8%;
      z-index: 1;
    }
  }
  @media only screen and (min-width: 1170px) {
    .month {
      width: 22%;
      height: auto;
      position: absolute;
      top: 5%;
      left: 58.5%;
      z-index: 1;
    }
  }

  .transactions {
    width: 21%;
    height: auto;
    position: absolute;
    bottom: 10%;
    right: 18%;
    z-index: 1;
  }

  @media only screen and (min-width: 768px) {
    .transactions {
      width: 30%;
      height: auto;
      position: absolute;
      bottom: 7%;
      right: 25%;
      z-index: 1;
    }
  }
  @media only screen and (min-width: 1170px) {
    .transactions {
      width: 21%;
      height: auto;
      position: absolute;
      bottom: 10%;
      right: 18%;
      z-index: 1;
    }
  }
}
