@font-face {
    font-family: 'TT Norms Pro';
    src: url("../assets/TTNormsProFamily/TTNormsProNormal.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url("../assets/TTNormsProFamily/TTNormsProRegular.otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url("../assets/TTNormsProFamily/TTNormsProDemiBold.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url("../assets/TTNormsProFamily/TTNormsProLight.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url("../assets/TTNormsProFamily/TTNormsProBold.otf");
    font-weight: 700;
    font-style: normal;
}

img {
  max-width: 100%;
  height:auto;
  display: block;
}

/*header shit*/

#header {
	width:100%;
	height:5em;
	position:fixed;
	top:0;
	left:0;
	background-color:white;
	z-index:10;
}



#getapp{
	position:relative;
	overflow: hidden;
	margin-right:2.5em;
	width:8.75em;
	padding-top:.23em;
	height:2.5em;
	vertical-align:center;
	text-align:center;
	top:1.15em;
	float:right;
	font-family: 'TT Norms Pro';
	font-weight:500;
	text-decoration:none;
	color:white;
	background: #907CFF;
	border-radius: 1em;
	text-align:center;
}

#getapp p{
	margin:0em;
	line-height: 2em;
}

#getappbutton{

	font-family: 'TT Norms Pro';
	font-size: 1.25em;
	font-style: normal;
	font-weight: 500;
	color:white;
	text-decoration:none;
	
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
  }
  .overlay:target {
	visibility: visible;
	opacity: 1;
  }

  #popuptitle{
	font-family: 'TT Norms Pro';
	font-size: 2em;
	font-style: normal;
	font-weight: 600;
	text-align:center;
  }
  
  .popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 40%;
	position: relative;
	transition: all 5s ease-in-out;
  }
  
  .popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
  }
  .popup .close:hover {
	color: #06D85F;
  }
  .popup .content {
	max-height: 30%;
	overflow: auto;
  }

  .navbutton{
	width:auto;
	font-family: 'TT Norms Pro';
	font-size:1em;
	font-style: normal;
	font-weight: normal;
	position:relative;
	overflow: hidden;
	margin-right:3em;
	width:auto;
	height:auto;
	text-align:center;
	top:1em;
	float:right;
	text-decoration:none;
	color:black;
}

.navbutton a{
	text-decoration:none;
}

.navbutton a:link {
	color: black;
	text-decoration:none;
}

/* visited link */
.navbutton a:visited {
	color: black;
	text-decoration:none;
}

/* mouse over link */
.navbutton a:hover {
	color: black;
	text-decoration:none;
}

/* selected link */
.navbutton a:active {
	color: black;
	text-decoration:none;
}

#logo{
	width:5.5em;
	height:auto;
}

#logobutton{
	position:absolute;
	top:1.75em;
	left:4em;
}

#hamburger-menu{
    display:none;
}
/*actual main shit*/

#container{
	width:100%;
	margin-top:6em;
	background-color:white;

}

#footer{
	width:100%;
	background-color:#907CFF;
	margin-top:9em;
}

#footercontainer{
	width:90%;
	display:flex;
	justify-content: space-around;
	background-color:#907CFF;
	margin:0em 5em;
}

.footercolumn{
	width:14%;
	margin:1em 0em 3em;
}

.footersection{
	font-family: 'TT Norms Pro';
	font-size:1.25em;
	font-style: normal;
	font-weight: 600;
	color:white;
	width:100%;
}

.footeroption{
	font-family: 'TT Norms Pro';
	font-size:1em;
	font-style: normal;
	font-weight: 400;
	color:white;
	width:100%;
	float:left;
	margin:-.5em 0em;
}

.footeroption a{
	text-decoration:none;
	color:white;

}

.footerpic{
	width:70%;
	height:auto;
	margin:0em 0em .5em;

}