.container {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url("../public/static/assets/background.png");
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.cd-text {
  color: #2c2261;
}

.ctaText {
  color: #907cff;
}

.ctaText:visited {
  color: #907cff !important;
}
.footer {
  font-size: 18px;
  position: absolute;
  bottom: 0;
  height: 2vh;
  margin-left: 15px;
}

.privacy {
  
  max-height: 60vh;
  max-width: 80vw;
  margin: auto;
  overflow: scroll;
}

.privacyHeader {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
