.container {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url("../public/static/assets/background.png");
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.cd-text {
  color: #2c2261;
}

.cta-text {
  color: #907cff;
}

.cta-text:visited {
  color: #907cff !important;
}
