#text{
    width:90%;
    margin-right:auto;
    margin-left:auto;
    font-family: 'TT Norms Pro';
	font-size:1.25em;
	font-style: normal;
    font-weight: 500;
    line-height:1em;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 414px) {
    body{font-size:12px;}

    #landing{
        height:50em;
        width:100%;
        background-size: 0;
    }


    #mobile-logo{
        display: inline-block;
        position:absolute;
		left:10%;
    }

    #mobile-logobutton{
        width: 30%;
        height: auto;
    }
    
    #hamburger-menu{
        position: fixed;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: white;
        z-index: 10;
        top: 10%;
    }

    a{
        margin-right: none;
    }

    #hamburger-image{
        width: 3em;
        height: auto;
		margin-left: 0em;
    }

    #hamburger-icon{
        display: inline-block;
		position:absolute;
		left:75%;
    }

    #container{
        margin-top: 16%;
    }

    .navbutton{
        background-color: white;
        height: 2em;
        width: 100%;
        border-top: thin solid #f0f0f0;
        border-bottom: thin solid #f0f0f0;
        margin: auto;
        line-height: 1em;
        display: table-column;
        padding-bottom:1em;
        font-family: TT Norms Pro;
        font-size:2em;
    }

    .navbutton{
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    #mobile-header{
        position: fixed;
        width: 100%;
        height: 10%;
        left: 0;
        top: 0;
        padding-left: 10%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        /* border-bottom: 0.5px solid grey; */
        background-color: white;
        z-index: 10;
        overflow:hidden;
		vertical-align: middle;
    }

    #header{
        display: none;
    }
    
    /*landing text*/
    
    #footer{
        display:none;
    }
}

@media only screen and (min-width: 415px) {
    body{font-size:7px;}

    .footersection{
        font-size:1em;
    }
}

@media only screen and (min-width: 485px) {
    body{font-size:8px;}

    .footersection{
        font-size:1em;
    }
}

@media only screen and (min-width: 554px) {
    body{font-size:8px;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 623px) {
    body{font-size:9px;}
}

@media only screen and (min-width: 692px) {
    body{font-size:10px;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 829px) {
    body {font-size:12px;}
}

@media only screen and (min-width: 899px) {
    body {font-size:13px;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {font-size:14px;}  
}

@media only screen and (min-width: 1040px) {
    body {font-size:15px;}
}

@media only screen and (min-width: 1107px) {
    body {font-size:16px;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
